services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: dinodb
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports: ["5434:5432"] # Host port 5434 mapped to container port 5432
    volumes:
      - pgdata:/var/lib/postgresql/data
  adminer:
    image: adminer
    ports: ["8081:8080"]
  redis:
    image: redis:7
    ports: ["6379:6379"]
  ollama:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ollama
    ports: ["11434:8080"] 
    volumes:
      - ollama-data:/root/.ollama
    restart: unless-stopped

volumes:
  pgdata:
  ollama-data:
