spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/dinodb
    username: app
    password: app
  jpa:
    hibernate:
      ddl-auto: validate   
  flyway:
    enabled: true
    locations: classpath:db/migration
